<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login & Registration</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div class="container">

    <!-- LEFT PANEL -->
    <div class="left-panel">

        <div class="login-card">

            <div class="logo-circle">
                <img src="https://cdn-icons-png.flaticon.com/512/145/145808.png">
            </div>

            <div class="input-box">
                <i class="fa fa-user"></i>
                <input type="text" placeholder="username">
            </div>

            <div class="input-box">
                <i class="fa fa-key"></i>
                <input type="password" placeholder="password">
            </div>

            <div class="remember">
                <input type="checkbox"> Remember me
            </div>

            <button class="login-btn">Login</button>

            <p>Don't have an account? <span>Sign Up</span></p>
            <p class="forgot">Forgot your password?</p>

        </div>

    </div>

    <!-- RIGHT PANEL -->
    <div class="right-panel">

        <h2>REGISTRATION</h2>

        <form class="form">

            <div class="row">
                <label>First Name</label>
                <input type="text" placeholder="First Name">
            </div>

            <div class="row">
                <label>Last Name</label>
                <input type="text" placeholder="Last Name">
            </div>

            <div class="row">
                <label>Email</label>
                <input type="email" placeholder="Email">
            </div>

            <div class="row">
                <label>Password*</label>
                <input type="password" placeholder="Password">
            </div>

            <div class="row">
                <label>Confirm Password*</label>
                <input type="password" placeholder="Password">
            </div>

            <div class="row">
                <label>Date of Birth</label>
                <input type="text" placeholder="mm/dd/yyyy">
            </div>

            <div class="row">
                <label>Phone number</label>
                <input type="text" placeholder="your phone number will not be disclosed anywhere">
            </div>

            <div class="row">
                <label>Height*</label>
                <input type="text" placeholder="Please write your height in centimeters">
            </div>

            <div class="row">
                <label>Weight*</label>
                <input type="text" placeholder="Please write your weight in kilograms">
            </div>

            <div class="row gender">
                <label>Gender</label>
                <div>
                    <input type="radio" name="g"> Female
                    <input type="radio" name="g"> Male
                </div>
            </div>

            <button class="register-btn">Register</button>

        </form>

    </div>

</div>

</body>
</html>